body {
    background-color: #F9F7F7;
}

hr {
    border-style: dotted none none;
    border-color: #3F72AF;
    border-width: 6px;
    width: 5%;
}

h1, h3 {
    color: #112D4E;
    font-family: 'Open Sans', sans-serif;
}

p, ol, table {
    font-family: 'Open Sans', sans-serif;
}
